<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/news" class="link-item" title="" id="tags-button">Headlines</a>
      <a href="/#open" class="link-item" title="{{@blog.title}}" id="blog-button">Blog</a>
      <a href="/about" class="link-item" title="" id="tags-button">About</a>
      <a href="mailto:mahmutbulut0<at>gmail<dot>com" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
